{% load bootstrap4 %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}

    <title>{% block title %}Krtko Travel{% endblock %}</title>
  </head>
  <body>
    <main role="main" class="container" style="padding-top: 20px">

      {% bootstrap_messages %}

      {% block content %}
        <h1>Hello, world!</h1>
      {% endblock %}

      {% bootstrap_javascript jquery='full' %}

    </main>
  </body>
</html>
