<!DOCTYPE html>
<html lang="sk">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Najrýchlejšie cestovanie do celého sveta">
  <meta name="author" content="krtko">

  <title>Krtko Travel</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
<div id="page">
  <div class="header">
    <img class="left margin-right-16" src="/static/images/logo-smaller.png" />
    <h1>Krtko Travel</h1>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h3>
      Vážení zákazníci,
    </h3><p>
      Vitajte na našej stránke cestovnej spoločnosti Krtko Travel.
    </p><p>
      V našej ponuke nájdete pobytové zájazdy pri mori, poznávacie zájazdy,
      exotické zájazdy, lyžovačky, pobyty v pralese, tábory, kombinované
      zájazdy, a iné.  Môžete si vybrať z rôznych krajín ako Austrália, Nový
      Zéland, Indonézia, Filipíny, Vietnam, Kambodža, Bangladéš, Južná Kórea,
      Japonsko, Wakanda, Madagaskar, Južná Afrika, Angola, Marakarna, Keňa,
      Tanzánia, Mozambik, Argentína, Atlantída, Bolívia, Peru, Ekvádor, Mexiko,
      Kalifornia, Arizona, Nevada či Aljaška.
    </p>
    <img src="./static/images/travel.jpg" width="40%" class="left margin-right-16 round" />
    <p>
      Už nemusíte obiehať rôzne cestovné kancelárie, ani prehliadať veľké množstvo webových stránok na internete.
      U nás nájdete všetko pod "jednou strechou".
      Spolupracujeme s významnými slovenskými aj zahraničnými cestovnými kanceláriami a dokážeme
      ponúkať bezkonkurenčné ceny. Svoju dovolenku si môžete objednať z pohodlia Vášho domova.
      Stačí Vám len získať cestovný kupón, a ostatné vybavíme za Vás.
    </p><p>
      Ak chcete získať viac informácií o aktuálnej ponuke zájazdov, alebo neviete, kde
      ako získať cestovný kupón, neváhajte nás kontaktovať <a
      href="mailto:krtkotravel@gmail.com">emailom (krtkotravel zavináč gmail bodka com)</a>,
      prípadne príďte do našej agentúry osobne a veľmi radi Vám pomôžeme s výberom Vašej vysnívanej dovolenky.

      Spoľahlivo Vám poradíme, pretože našou snahou a prioritou je hlavne Vaša spokojnosť.
    </p>
  </div>
  <div class="content">
    <form action="/ucastnik/redeem/" method="get">
    <h3>Váš zájazd</h3>
      {% if request.GET.invalid %}<p style="color:red">Zadali ste neplatný kód</p>{% endif %}
      <p>
      Pre informácie o Vašom zájazde zadajte kód vášho kupónu (voucheru):
      </p>
      <input type="text" name="voucher" value="{{request.GET.voucher}}">
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="content">
    <h3> Prečo cestovať s našou kanceláriou?</h3>
    <p>
      Hlavnou výhodou cestovania s našou cestovnou kanceláriou je veľmi rýchla doprava do ďalekých
      cieľových krajín. Zatiaľ čo bežné cestovné kancelárie ponúkajú pohyb po povrchu alebo ponad
      povrch zeme, my Vás dokážeme prepraviť najkratšou trasou priamo cez zem.
    </p>
    <p>
      Pre porovnanie, pokiaľ idete letecky, cesta na Nový Zéland meria 17885 kilometrov a trvá bežne
      30 a viac hodín.
      S našou cestovnou kanceláriou je vzdialenosť do tejto krajiny len 12678 kilometrov. V
      závislosti od počasia v Zemskom jadre trvá cesta len 8 až 10 hodín, a to aj vďaka nášmu novému systému
      vákuových tunelov a revolučnému gravitačnému pohonu.
    </p>
    <p>
      Naši zákazníci bývaju s nami veľmi spokojní, ako sa môžete dočítať v recenziách od nich:
    </p>
    <div class="review">
      <img class="review" src="./static/images/r1.jpg" />
      <strong class="pink">Devil Voršiper</strong><br/>
      Vynikajúca cestovka. Neplatí sa v nej za nadrozmerné batožiny ako napr.
      papek sily alebo veľké chmáry. Jej najväčšou výhodou je to, že cestuje
      pod zemou. Takýto typ dopravy Power Rangeri nebudú čakať a budem ich môcť
      tak prekvapiť nepripravených a ovládnuť tak svet. Muhahahaha…
      hahahahahahaááá... áághghhaha!
      <div class="clear"></div>
    </div>
    <div class="review">
      <img class="review" src="/static/images/r2.jpg" />
      <strong class="pink">Veeranea Istropolitana</strong><br/>
      Tuti fruti travelito! I koza margharita fruti di mare. Siciliana bombardino
      bambino provinciale. Pasta i tuna cardinale pizza. Perfetto, perfetto travelito
      via de americana diavola prosciuto calzone spaghetti!
      <div class="clear"></div>
    </div>
    <div class="review">
      <img class="review" src="/static/images/r3.jpg" />
      <strong class="pink">Mc Fešák, DJ Zayo & chicks</strong><br/>
      Mocné to je.
      <div class="clear"></div>
    </div>
    <div class="review">
      <img class="review" src="/static/images/r4.jpg" />
      <strong class="pink">strážmajsterka Mary</strong><br/>
      Pokladám za nevyhnutné uviesť, že táto cestovná kancelária je podozrivá z
      napomáhania zločincovi vystupujúcemu pod pseudonymom Fantomas. Stopy
      hovoria jasne - napríklad krtinec v trezore rodiny Kössegyi po zmiznutí
      Rubínového srdca.
      <div class="clear"></div>
    </div>
    <div class="review">
      <img class="review" src="/static/images/r5.jpg" />
      <strong class="pink">Zajo Targaryen</strong><br/>
      Skúšali ste niekedy letieť niekoľko hodín na drakovi? Verte mi, je to
      úžasný pocit. Vietor Vám veje vo vlasoch, máte neskutočný výhľad, … no na
      cestovanie so spoločnosťou Krtko Travel to nemá. Vďaka moderným
      technológiám sa viete dostať z bodu A do bodu B, veľmi rýchlo (z
      Dragonstone do King's Landing za pol epizódy) a efektívne. Netreba
      zastavovať, kŕmiť drakov a okrem toho je cestovanie výrazne pohodlnejšie.
      <div class="clear"></div>
    </div>
  </div>
  <p class="foot">
    UPOZORNENIE:<br/>
    Táto stránka slúži ako tematický úvod k akcii LTT 2019.<br/>
    Cestovná kancelária Krtko Travel je fiktívna organizácia.<br/>
    Viac informácií nájdete na stránke <a href="https://ltt.trojsten.sk">ltt.trojsten.sk</a>.
  </p>
</div>
</body>

</html>
