{% extends 'base.html' %}

{% block title %}Prihlásení na LTT 2019{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center">Prihlasovanie na LTT 2019</h1>
      <div style="height:45px"></div>
      <div class="row">
        <div class="col col-md-6">
            <p class="display-4 text-center">{{adventure_count}}</p>
            <p class="lead text-center">účastníkov sa prihlásilo dobrodružnou cestou</p>
        </div>
        <div class="col col-md-6">
            <p class="display-4 text-center">{{normal_count}}</p>
            <p class="lead text-center">účastníkov sa prihlásilo klasickou cestou</p>
        </div>
        <div class="col col-md-6">
            <p class="display-4 text-center">{{reserved_count}}</p>
            <p class="lead text-center">miest je rezervovaných</p>
        </div>
        <div class="col col-md-6">
            <p class="display-4 text-center">{{free_count}}</p>
            <p class="lead text-center">miest je voľných</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
