{% extends 'base.html' %}

{% load mytags %}

{% block title %}Váš zájazd{% endblock %}

{% block content %}
  <h1>Informácie o zájazde</h1>
  <p>
    <ul class="list-group">
      <li class="list-group-item"><b>Voucher:</b> {{voucher.code}}</li>
      <li class="list-group-item"><b>Cestujúci:</b> {{voucher.registration.name}}</li>
      <li class="list-group-item"><b>Destinácia:</b> Marakarna</li>
      <li class="list-group-item"><b>Dátum:</b> 9. - 18. 8. 2019.</li>
      <li class="list-group-item"><b>Kontaktná osoba:</b>
        Michaela "Jerry" Dlugošová
        (<a href="mailto:michaela.dlugosova@trojsten.sk">michaela.dlugosova@trojsten.sk</a>,
        <a href="tel:+421908360345">+421&nbsp;908&nbsp;360&nbsp;345</a>)
      </li>
    </ul>
  </p>

  <h2>Čo treba spraviť?</h2>
  <p>
    <ul class="list-group">
      {% li_todo True %}
        Uhradiť cenu zájazdu 47&nbsp;000&nbsp;€
        <span class="float-right">
          {% if voucher.from_prince%}
            (uhradil africký princ)
          {% else %}
            (hradené z fondu na podporu turizmu v Marakarne)
          {% endif%}
        </span>
      </li>
      {% li_todo True %}
        Vyplniť záväznú prihlášku
      </li>
      {% li_todo False %}
        Uhradiť manipulačný poplatok 150&nbsp;€
        <span class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" disabled>Možnosť bude dostupná v Júli</button>
        </span>
      </li>
      {% li_todo False %}
        Vyplniť vízový formulár
        <span class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" disabled>Možnosť bude dostupná v Júli</button>
        </span>
      </li>
      {% li_todo False %}
        Pobaliť sa
        <span class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" disabled>Možnosť bude dostupná v Auguste</button>
        </span>
      </li>
      {% li_todo False %}
        Dostaviť sa na miesto odchodu
        <span class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" disabled>Možnosť bude dostupná v Auguste</button>
        </span>
      </li>
      {% li_todo False %}
        Užiť si výlet
        <span class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" disabled>Možnosť bude dostupná v Auguste</button>
        </span>
      </li>
      {% li_todo False %}
        Vrátiť sa živý a zdravý
        <span class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" disabled>Možnosť bude dostupná v Auguste</button>
        </span>
      </li>
    </ul>
  </p>
{% endblock %}


