{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Prihláška na LTT 2019{% endblock %}


{% block content %}
    <h1>Záväzná prihláška na LTT 2019</h1>
    <div style="height:40px"></div>
    <p>
      LTT (letný tábor Trojstenu) je akcia pre stredoškolákov alebo deviatakov na ZŠ (resp. Kvarta až Oktáva na OG) organizovaná o. z. Trojsten, ktorá sa bude konať od 9. 8. do 18. 8. 2019.
      Viac o tábore si môžete prečítať na stránke <a href="https://ltt.trojsten.sk">ltt.trojsten.sk</a>.
    </p>
    <p>
      Vyplnením tejto prihlášky sa záväzne prihlasujete na LTT 2019 a zaväzujete sa k úhrade účastrníckeho poplatku 150&nbsp;€.
    </p>
    <p>
      Kontaktná osoba je Michaela "Jerry" Dlugošová (<a href="mailto:michaela.dlugosova@trojsten.sk">michaela.dlugosova@trojsten.sk</a>, <a href="tel:+421908360345">+421&nbsp;908&nbsp;360&nbsp;345</a>)
    </p>
    <div style="height:40px"></div>
    <form method="post" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="voucher_id" class="col-form-label">Kód vouchera</label>
        <input type="text" readonly class="form-control" id="voucher_id" value="{{ voucher.code }}">
      </div>
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      {% endbuttons %}
    </form>

{% endblock %}
