body {
    background: #f8f7f9 url('images/back.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    margin: 12px 0;
    color: #3c3953;
    font: 15px georgia, sans-serif;
}

#page {
    min-width: 420px;
    max-width: 720px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.foot {
    text-align: center;
    font-size: 8px;
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-right-16 {
    margin-right: 16px;
}
.margin-right-8 {
    margin-right: 8px;
}

.content {
    background: rgba(248, 247, 249, 0.6);
    padding: 12px;
    margin: 12px;
    -webkit-box-shadow: 0px 0px 16px 12px rgba(60,57,83,0.3);
    -moz-box-shadow: 0px 0px 16px 12px rgba(60,57,83,0.3);
    box-shadow: 0px 0px 16px 12px rgba(60,57,83,0.3);
    border-radius: 12px;
    text-align: justify;
}

div.review {
    background: rgba(248, 247, 249, 0.2);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(60,57,83,0.1);
    -moz-box-shadow: 0px 0px 8px 4px rgba(60,57,83,0.1);
    box-shadow: 0px 0px 8px 4px rgba(60,57,83,0.1);
    padding: 8px;
    margin-bottom: 8px;
}
img.review {
    float: left;
    width: 100px;
    margin-right: 12px;
}

.left {
    float: left;
}

.clear {
    clear: both;
}
.round {
    border-radius: 12px;
}

h1 {
    font-size: 280%;
    color: #585d80;
}
h3 {
    margin-top: 4px;
}
h1, h2, h3, .pink {
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}
h2, h3, a, .pink {
    color: #f963a0;
}

